<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th class="text-center">採点投稿数</th>
      <th class="text-center">いいね合計</th>
      <th class="text-center">悪いね合計</th>
      <th class="text-center">フォロー数</th>
      <th class="text-center">フォロワー数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
      <tr>
        <td><%= image_tag customer.get_profile_image(50,100) %></td>
        <td>
          <%= link_to customer_path(customer.id) do %>
            <%= customer.name %>
          <% end %>
        </td>
        <td class="text-center"><%= customer.scorings.count %></td>
        <td class="text-center">
          <% customer_has_favorites = 0 %>
          <% customer.scorings.each do |scoring| %>
            <% customer_has_favorites += scoring.favorites.count %>
          <% end %>
          <%= customer_has_favorites %>
        </td>
        <td class="text-center">
          <% customer_has_unfavorites = 0 %>
          <% customer.scorings.each do |scoring| %>
            <% customer_has_unfavorites += scoring.unfavorites.count %>
          <% end %>
          <%= customer_has_unfavorites %>
        </td>
        <td class="text-center">
          <%= link_to follows_customer_path(customer) do %>
            <%= customer.following_customer.count %>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to followers_customer_path(customer) do %>
            <%= customer.follower_customer.count %>
          <% end %>
        </td>
        <td class="text-center">
          <% if customer.id == current_customer.id %>
            <%= link_to "編集する", edit_customer_path(customer.id), class: "btn btn-success" %>
          <% else %>
            <% if current_customer.following?(customer) %>
              <%= link_to 'フォロー外す', customer_relationships_path(customer.id), method: :delete %>
            <% else %>
              <%= link_to 'フォローする', customer_relationships_path(customer.id), method: :POST %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <%= paginate customers %>
  </tbody>
</table>