<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">
  <%= @customer.name %>のフォロー先一覧
</h3>
<div class="my-5">
  <% if @following_customers.count >= 1 %>
    <table class='table'>
      <thead>
        <tr>
          <th></th>
          <th>名前</th>
          <th class="text-center">採点投稿数</th>
          <th class="text-center">いいね合計</th>
          <th class="text-center">悪いね合計</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= image_tag customer.get_profile_image(50,100) %></td>
            <td>
              <%= link_to customer_path(customer.id) do %>
                <%= customer.name %>
              <% end %>
            </td>
            <td><%=  %></td>
            <td class="text-center">
              <%= link_to follows_customer_path(customer) do %>
                <%= customer.following_customer.count %>
              <% end %>
            </td>
            <td class="text-center">
              <%= link_to followers_customer_path(customer) do %>
                <%= customer.follower_customer.count %>
              <% end %>
            </td>
            <td class="text-center"><%=  %></td>
            <td class="text-center"><%=  %></td>
          </tr>
        <% end %>
        <%= paginate @customers %>
      </tbody>
    </table>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>