<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">
  <%= @customer.name %>さんの詳細ページ
</h3>
<div class="row my-3">
  <div class="col-3">
    <%= image_tag @customer.get_profile_image(200,200) %>
  </div>
  <div class="col-6 ml-4">
    <table class="table table-borderless">
      <tr>
        <th style="width: 30%;">名前</th>
        <th>
          <%= @customer.name %>
        </th>
      </tr>
      <tr>
        <th>自己紹介</th>
        <th><%= @customer.introduction %></th>
      </tr>
    </table>
  </div>
  <div class="col-2 d-flex align-items-end">
    <% if @customer.id == current_customer.id && @customer.name != "ゲスト" %>
      <%= link_to "編集する", edit_customer_path(@customer.id), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
<div class="row ml-2 mb-3">
  <div>
    フォロー数　：
    <%= link_to follows_customer_path(@customer) do %>
      <%= @customer.following_customer.count %>
    <% end %><br>
    フォロワー数：
    <%= link_to followers_customer_path(@customer) do %>
      <%= @customer.follower_customer.count %>
    <% end %>
  </div>
  <div class="ml-4 mt-3">
    <% if @customer.id != current_customer.id %>
      <% if current_customer.following?(@customer) %>
        <%= link_to 'フォロー外す', customer_relationships_path(@customer.id), method: :delete, class: "btn btn-sm btn-outline-danger" %>
      <% else %>
        <%= link_to 'フォローする', customer_relationships_path(@customer.id), method: :POST, class: "btn btn-sm btn-outline-primary" %>
      <% end %>
    <% end %>
  </div>
  <h5 class="mx-auto">
    <%= link_to "いいねした採点一覧", favorites_customer_path(@customer) %>
  </h5>
</div>
<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">
  <%= @customer.name %>さんの採点一覧
</h3>
<p>
  <%= link_to '新しい順', customer_path(newer: "true") %>
  |<%= link_to '古い順', customer_path(older: "true") %>
  |<%= link_to 'いいね順', customer_path(favorites_count: "true") %>
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>試合名</th>
      <th>いいね数</th>
      <th>悪いね数</th>
      <th>コメント数</th>
      <th>投稿日</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @scorings.each do |scoring| %>
      <tr>
        <td>
          <%= scoring.match.convention.name %><br>
          <%= scoring.match.home_team.name %>vs<%= scoring.match.away_team.name %>
        </td>
        <td class="text-center favorite-btn_<%= scoring.id %>"><%= render "public/favorites/favorite-btn", scoring: scoring %></td>
        <td class="text-center unfavorite-btn_<%= scoring.id %>"><%= render "public/unfavorites/unfavorite-btn", scoring: scoring %></td>
        <td class="text-center"><%= scoring.scoring_comments.count %></td>
        <td><%= scoring.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= link_to "Show",scoring_path(scoring.id) %></td>
      </tr>
    <% end %>
    <%= paginate @scorings %>
  </tbody>
</table>