<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">
  <strong><%= @player.name %></strong>の編集
</h3>
<div class="my-5">
  <%= form_with model: [:admin, @player] do |f| %>
    <%= render 'layouts/errors', obj: @player %>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>選手名</th>
          <th>生年月日</th>
          <th>身長(cm)</th>
          <th>体重(kg)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.text_field :name, :size=>"35", placeholder:"選手名" %></td>
          <td><%= f.text_field :birthday, :size=>"10", placeholder:"20220101" %></td>
          <td><%= f.text_field :height, :size=>"10", placeholder:"180" %></td>
          <td><%= f.text_field :weight, :size=>"10", placeholder:"75" %></td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td><%= f.submit "変更する", class: "ml-5 btn btn-success" %></td>
          <td>
            <%= link_to "削除", admin_player_path(@player.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "ml-2 btn btn-danger" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>