<table class="table table-hover">
  <thead>
    <tr>
      <th>大会名</th>
      <th>開始日</th>
      <th>終了日</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% conventions.each do |convention| %>
      <tr>
        <td>
          <%= link_to admin_convention_path(convention.id) do %>
            <%= convention.name %>
          <% end %>
        </td>
        <td><%= convention.start_date.strftime('%Y/%m/%d') %></td>
        <td><%= convention.end_date.strftime('%Y/%m/%d') %></td>
        <td class="text-center"><%= link_to "編集する", edit_admin_convention_path(convention.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
  <%= paginate conventions %>
</table>