<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">大会登録・一覧ページ</h3>
<div class="my-5">
  <%= form_with model: [:admin, @convention] do |f| %>
    <%= render 'layouts/errors', obj: @convention %>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>大会名</th>
          <th>開始日</th>
          <th>終了日</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.text_field :name, placeholder:"大会名" %></td>
          <td><%= f.text_field :start_date, placeholder:"20220101" %></td>
          <td><%= f.text_field :end_date, placeholder:"20221231" %></td>
          <td><%= f.submit "新規登録", class: "ml-5 btn btn-primary" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>大会名</th>
      <th>開始日</th>
      <th>終了日</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @conventions.each do |convention| %>
      <tr>
        <td>
          <%= link_to admin_convention_path(convention.id) do %>
            <%= convention.name %>
          <% end %>
        </td>
        <td><%= convention.start_date.strftime('%Y/%m/%d') %></td>
        <td><%= convention.end_date.strftime('%Y/%m/%d') %></td>
        <td class="text-center"><%= link_to "編集する", edit_admin_convention_path(convention.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>