<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">
  <strong><%= @convention.name %></strong>
</h3>
<h4 class="px-2 mb-1 ml-5" style="width:fit-content;background-color:#e4e4e4;">出場チーム登録</h3>
<div class="my-1 ml-5">
  <%= form_with model:[:admin, @participating_team] do |f| %>
    <%= render 'layouts/errors', obj: @participating_team %>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>チーム名</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.collection_select :team_id, Team.all, :id, :name, {include_blank: "--選択してください--"} %></td>
          <td><%= f.hidden_field :convention_id, :value => @convention.id %></td>
          <td class="text-right"><%= f.submit "新規登録", class: "btn btn-primary" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<h4 class="px-2 mb-3 ml-5" style="width:fit-content;background-color:#e4e4e4;">出場チーム一覧</h3>
<ul class="row">
  <% @participating_teams.each do |participating_team| %>
    <li class="ml-5 mb-1">
      <%= link_to admin_team_path(participating_team.team_id) do %>
        <%= participating_team.team.name %>
      <% end %>
      <%= link_to "編集", edit_admin_participating_team_path(participating_team), class: "btn btn-sm btn-success" %>
    </li>
  <% end %>
</ul>
<h4 class="px-2 ml-5" style="width:fit-content;background-color:#e4e4e4;">試合一覧</h4>
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th class="text-center">試合名</th>
      <th>開始日時（日本時間）</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td class="text-center">
          <%= link_to admin_match_path(match.id) do %>
            <%= match.home_team.name %> vs <%= match.away_team.name %><br>
            <% if match.home_goal == nil || match.away_goal == nil %>
              試合前
            <% else %>
              <%= match.home_goal %> - <%= match.away_goal %>
            <% end %>
          <% end %>
        </td>
        <td><%= match.start_time.strftime('%Y/%m/%d %H:%M') %></td>
        <td class="text-center"><%= link_to "編集する", edit_admin_match_path(match.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>