<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">
  <%= @customer.name %>さんの詳細ページ
</h3>
<div class="row mt-3">
  <div class="col-3">
    <%= image_tag @customer.get_profile_image(100,100) %>
    <%= link_to "編集ページへ", edit_admin_customer_path %>
  </div>
  <div class="col-7 ml-4">
    <table class="table table-borderless">
      <tr>
        <th>会員ID</th>
        <th><%= @customer.id %></th>
      </tr>
      <tr>
        <th style="width: 30%;">名前</th>
        <th>
          <%= @customer.name %>
        </th>
      </tr>
      <tr>
        <th>自己紹介</th>
        <th><%= @customer.introduction %></th>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <th><%= @customer.email %></th>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <th>
          <% if @customer.is_deleted == false %>
            <span class="text-success font-weight-bold">有効</span>
          <% else %>
            <span class="text-secondary">退会</span>
          <% end %>
        </th>
      </tr>
    </table>
  </div>
</div>
<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">
  <%= @customer.name %>さんの採点一覧
</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>試合名</th>
      <th class="text-center">いいね数</th>
      <th class="text-center">悪いね数</th>
      <th class="text-center">コメント数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @scorings.each do |scoring| %>
      <tr>
        <td>
          <%= scoring.match.convention.name %><br>
          <%= scoring.match.home_team.name %>vs<%= scoring.match.away_team.name %>
        </td>
        <td class="text-center"><%= scoring.favorites.count %></td>
        <td class="text-center"><%= scoring.unfavorites.count %></td>
        <td class="text-center"><%= scoring.scoring_comments.count %></td>
        <td><%= link_to "Show", admin_scoring_path(scoring.id) %></td>
      </tr>
    <% end %>
    <%= paginate @scorings %>
  </tbody>
</table>