<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">
  <%= @match.convention.name %><br>
  <%= @match.home_team.name %> vs <%= @match.away_team.name %>
</h3>
<%= @match.start_time.strftime('%Y/%m/%d %H:%M') %>開始
<h5 class="text-center">
  <% if @match.home_goal == nil || @match.away_goal == nil %>
    試合前
  <% else %>
    試合結果：<%= @match.home_goal %> - <%= @match.away_goal %>
  <% end %>
</h5>
<h4 class="px-2 mb-1 ml-5" style="width:fit-content;background-color:#e4e4e4;">出場選手登録</h3>
<div class="my-1 ml-5">
  <%= form_with model:[:admin, @competitor] do |f| %>
    <%= render 'layouts/errors', obj: @competitor %>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>ポジション</th>
          <th>選手名</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.collection_select :position, Competitor.positions_i18n, :first, :last %></td>
          <td><%= f.collection_select :player_id, Player.all, :id, :name, {include_blank: "--選択してください--"} %></td>
          <td><%= f.hidden_field :match_id, :value => @match.id %></td>
          <td><%= f.submit "新規登録", class: "btn btn-primary" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<h4 class="px-2 mb-1 ml-5" style="width:fit-content;background-color:#e4e4e4;">出場選手一覧</h3>
<div class="row">
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="3" class="text-center"><%= @match.home_team.name %></th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>ポジション</th>
          <th>背番号</th>
          <th>選手名</th>
        </tr>
      </thead>
      <tbody>
        <% @competitors.each do |competitor| %>
          <tr>
            <td><%= competitor.position %></td>
            <td><%#= competitor.player.team.uniform_number %></td>
            <td>
              <%= link_to admin_player_path(competitor.player.id) do %>
                <%= competitor.player.name %>
              <% end %>
            </td>
            <td class="text-center"><%#= link_to "編集する", edit_admin_convention_path(convention.id), class: "btn btn-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="3" class="text-center"><%= @match.away_team.name %></th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>ポジション</th>
          <th>背番号</th>
          <th>選手名</th>
        </tr>
      </thead>
      <tbody>
        <% @competitors.each do |competitor| %>
          <tr>
            <td><%= competitor.position %></td>
            <td><%#= competitor.player.team.uniform_number %></td>
            <td>
              <%= link_to admin_player_path(competitor.player.id) do %>
                <%= competitor.player.name %>
              <% end %>
            </td>
            <td class="text-center"><%#= link_to "編集する", edit_admin_convention_path(convention.id), class: "btn btn-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>