<div class="row">
  <h3 class="px-2 ml-3" style="width:fit-content;background-color:#e4e4e4;">
    <%= link_to convention_path(@match.convention) do %>
      <%= @match.convention.name %>
    <% end %>
    <br><%= @match.home_team.name %> vs <%= @match.away_team.name %>
  </h3>
  <div class="ml-3 d-flex align-items-end">
    <% if @match.competitors.count == 0 %>
      <P>出場選手が登録されていないため、採点の登録は行えません。</P>
    <% else %>
      <%= link_to "新規採点を行う", new_match_scoring_path(@match.id), class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
<%= @match.start_time.strftime('%Y/%m/%d %H:%M') %>開始
<h5 class="text-center">
  <% if @match.home_goal == nil || @match.away_goal == nil %>
    試合前
  <% else %>
    試合結果：<%= @match.home_goal %> - <%= @match.away_goal %>
  <% end %>
</h5>
<h4 class="px-2 mb-1 ml-3" style="width:fit-content;background-color:#e4e4e4;">出場選手一覧</h3>
<div class="row">
  <div>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th colspan="3" class="text-center"><%= @match.home_team.name %></th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>ポジション</th>
          <th>背番号</th>
          <th>選手名</th>
        </tr>
      </thead>
      <tbody>
        <% @competitors.each do |competitor| %>
          <% if competitor.team_id == @match.home_team_id %>
            <tr>
              <td class="text-center"><%= competitor.position %></td>
              <td class="text-center"><%= competitor.uniform_number %></td>
              <td><%= competitor.player.name %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="ml-3">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th colspan="3" class="text-center"><%= @match.away_team.name %></th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>ポジション</th>
          <th>背番号</th>
          <th>選手名</th>
        </tr>
      </thead>
      <tbody>
        <% @competitors.each do |competitor| %>
          <% if competitor.team_id == @match.away_team_id %>
            <tr>
              <td class="text-center"><%= competitor.position %></td>
              <td class="text-center"><%= competitor.uniform_number %></td>
              <td><%= competitor.player.name %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<h4 class="px-2 mb-1 ml-3" style="width:fit-content;background-color:#e4e4e4;">採点一覧</h4>
<p>
  <%= link_to '新しい順', match_path(newer: "true") %>
  |<%= link_to '古い順', match_path(older: "true") %>
  |<%= link_to 'いいね順', match_path(favorites_count: "true") %>
</p>
<%= paginate @scorings %>
<%= render "public/scorings/index", scorings: @scorings %>