<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">採点一覧ページ</h3>
<p>
  <%= link_to '新しい順', admin_scorings_path(newer: "true") %>
  |<%= link_to '古い順', admin_scorings_path(older: "true") %>
  |<%= link_to 'いいね順', admin_scorings_path(favorites_count: "true") %>
  |<%= link_to '悪いね順', admin_scorings_path(unfavorites_count: "true") %>
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>会員名</th>
      <th>試合名</th>
      <th class="text-center">いいね数</th>
      <th class="text-center">悪いね数</th>
      <th class="text-center">コメント数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @scorings.each do |scoring| %>
      <tr>
        <td>
          <%= link_to admin_customer_path(scoring.customer.id) do %>
            <%= scoring.customer.name %>
          <% end %>
        </td>
        <td>
          <%= scoring.match.convention.name %><br>
          <%= scoring.match.home_team.name %>vs<%= scoring.match.away_team.name %>
        </td>
        <td class="text-center"><%= scoring.favorites.count %></td>
        <td class="text-center"><%= scoring.unfavorites.count %></td>
        <td class="text-center"><%= scoring.scoring_comments.count %></td>
        <td><%= link_to "Show", admin_scoring_path(scoring.id) %></td>
      </tr>
    <% end %>
    <%= paginate @scorings %>
  </tbody>
</table>