<table class="table table-hover">
  <thead>
    <tr>
      <th>会員名</th>
      <th>試合名</th>
      <th>いいね数</th>
      <th>悪いね数</th>
      <th>コメント数</th>
      <th>投稿日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% scorings.each do |scoring| %>
      <tr>
        <td>
          <%= link_to customer_path(scoring.customer.id) do %>
            <%= scoring.customer.name %>
          <% end %>
        </td>
        <td>
          <%= scoring.match.convention.name %><br>
          <%= scoring.match.home_team.name %>vs<%= scoring.match.away_team.name %>
        </td>
        <td class="text-center favorite-btn_<%= scoring.id %>"><%= render "public/favorites/favorite-btn", scoring: scoring %></td>
        <td class="text-center unfavorite-btn_<%= scoring.id %>"><%= render "public/unfavorites/unfavorite-btn", scoring: scoring %></td>
        <td class="text-center"><%= scoring.scoring_comments.count %></td>
        <td><%= scoring.created_at.since(9.hours).strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= link_to "Show",scoring_path(scoring.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>