<h3 class="px-2 ml-3" style="width:fit-content;background-color:#e4e4e4;">
  <%= @scoring.match.convention.name %><br>
  <%= @scoring.match.home_team.name %> vs <%= @scoring.match.away_team.name %><strong> 採点編集</strong>
</h3>
<%= @scoring.match.start_time.strftime('%Y/%m/%d %H:%M') %>開始
<h5 class="text-center">
  <% if @scoring.match.home_goal == nil || @scoring.match.away_goal == nil %>
    試合前
  <% else %>
    試合結果：<%= @scoring.match.home_goal %> - <%= @scoring.match.away_goal %>
  <% end %>
</h5>
<h4 class="px-2 mb-1 ml-3" style="width:fit-content;background-color:#e4e4e4;">出場選手一覧</h3>
<%= form_with model: @scoring do |f| %>
  <div class="ml-3" style="width:80%;">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th colspan="4" class="text-center"><%= @scoring.match.home_team.name %></th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th class="text-center">ポジション</th>
          <th class="text-center">背番号</th>
          <th>選手名</th>
          <th>点数</th>
        </tr>
      </thead>
      <tbody>
        <% @player_scorings.each do |player_scoring| %>
          <% if player_scoring.competitor.team_id == player_scoring.scoring.match.home_team_id %>
            <%= f.fields_for :player_scorings, player_scoring do |edit_player_scoring_form| %>
              <tr>
                <td class="text-center border-dark" style="width:20%;"><%= player_scoring.competitor.position %></td>
                <td class="text-center border-dark" style="width:20%;"><%= player_scoring.competitor.uniform_number %></td>
                <td class="border-dark" style="width:40%;"><%= player_scoring.competitor.player.name %></td>
                <td class="border-dark" style="width:20%;"><%= edit_player_scoring_form.select :score, [3.0,3.5,4.0,4.5,5.0,5.5,6.0,6.5,7.0,7.5,8.0,8.5,9.0,9.5,10.0] %></td>
              </tr>
              <tr>
                <td colspan="4">
                  <%= edit_player_scoring_form.text_field :review, placeholder:"寸評の記述は任意(100文字以内)です。", style: "width:100%;" %>
                  <%= edit_player_scoring_form.hidden_field :competitor_id, :value => player_scoring.competitor.id %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th colspan="4" class="text-center"><%= @scoring.match.away_team.name %></th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th class="text-center">ポジション</th>
          <th class="text-center">背番号</th>
          <th>選手名</th>
        </tr>
      </thead>
      <tbody>
        <% @player_scorings.each do |player_scoring| %>
          <% if player_scoring.competitor.team_id == player_scoring.scoring.match.away_team_id %>
            <%= f.fields_for :player_scorings, player_scoring do |edit_player_scoring_form| %>
              <tr>
                <td class="text-center border-dark" style="width:20%;"><%= player_scoring.competitor.position %></td>
                <td class="text-center border-dark" style="width:20%;"><%= player_scoring.competitor.uniform_number %></td>
                <td class="border-dark" style="width:40%;"><%= player_scoring.competitor.player.name %></td>
                <td class="border-dark" style="width:20%;"><%= edit_player_scoring_form.select :score, [3.0,3.5,4.0,4.5,5.0,5.5,6.0,6.5,7.0,7.5,8.0,8.5,9.0,9.5,10.0] %></td>
              </tr>
              <tr>
                <td colspan="4">
                  <%= edit_player_scoring_form.text_field :review, placeholder:"寸評の記述は任意(100文字以内)です。", style: "width:100%;" %>
                  <%= edit_player_scoring_form.hidden_field :competitor_id, :value => player_scoring.competitor.id %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if @scoring.player_scorings.count == 0 %>
    採点対象が不在の場合編集できません。
  <% else %>
    <%= f.submit "更新する", class: "btn btn-success" %>
  <% end %>
<% end %>