<h3 class="px-2 ml-3" style="width:fit-content;background-color:#e4e4e4;">
  <%= link_to match_path(@scoring.match.id) do %>
    <%= @scoring.match.convention.name %><br>
    <%= @scoring.match.home_team.name %> vs <%= @scoring.match.away_team.name %>
  <% end %>
  <strong> 採点内容</strong>
</h3>
<%= @scoring.match.start_time.strftime('%Y/%m/%d %H:%M') %>開始
<h5 class="text-center">
  <% if @scoring.match.home_goal == nil || @scoring.match.away_goal == nil %>
    試合前
  <% else %>
    試合結果：<%= @scoring.match.home_goal %> - <%= @scoring.match.away_goal %>
  <% end %>
</h5>
<h4 class="px-2 mb-1 ml-3" style="width:fit-content;background-color:#e4e4e4;">出場選手一覧</h3>
<div class="ml-3">
  <% if @scoring.customer.id == current_customer.id %>
    <%= link_to "編集する", edit_scoring_path(@scoring.id), class: "btn btn-success" %>
  <% end %>
</div>
<div class="row">
  <div class="border-right pr-3 mx-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="4" class="text-center"><%= @scoring.match.home_team.name %></th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>ポジション</th>
          <th>背番号</th>
          <th>選手名</th>
          <th>採点</th>
        </tr>
      </thead>
      <tbody>
        <% @scoring.player_scorings.each do |player_scoring| %>
          <% if player_scoring.competitor.team_id == @scoring.match.home_team_id %>
            <tr>
              <td class="text-center"><%= player_scoring.competitor.position %></td>
              <td class="text-center"><%= player_scoring.competitor.uniform_number %></td>
              <td><%= player_scoring.competitor.player.name %></td>
              <td><%= player_scoring.score %>
            </tr>
            <tr>
              <% if player_scoring.review.present? %>
                <td colspan="4"><%= player_scoring.review %></td>
              <% else %>
                <td colspan="4">寸評なし</td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="4" class="text-center"><%= @scoring.match.away_team.name %></th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th>ポジション</th>
          <th>背番号</th>
          <th>選手名</th>
          <th>採点</th>
        </tr>
      </thead>
      <tbody>
        <% @scoring.player_scorings.each do |player_scoring| %>
          <% if player_scoring.competitor.team_id == @scoring.match.away_team_id %>
            <tr>
              <td class="text-center"><%= player_scoring.competitor.position %></td>
              <td class="text-center"><%= player_scoring.competitor.uniform_number %></td>
              <td><%= player_scoring.competitor.player.name %></td>
              <td><%= player_scoring.score %>
            </tr>
            <tr>
              <% if player_scoring.review.present? %>
                <td colspan="4"><%= player_scoring.review %></td>
              <% else %>
                <td colspan="4">寸評なし</td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="text-right">
  <% if @scoring.customer.id == current_customer.id %>
    <%= link_to "採点の削除", scoring_path(@scoring.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "ml-2 btn btn-danger" %>
  <% end %>
</div>