<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th></th>
      <th>チーム名（略称）</th>
      <th>監督</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% teams.each do |team| %>
      <tr>
        <td><%= team.id %></td>
        <td>
          <div class="border border-dark" style="width:fit-content;">
            <%= image_tag team.get_team_image(48,32) %>
          </div>
        </td>
        <td>
          <%= link_to admin_team_path(team.id) do %>
            <%= team.name %>(<%= team.abbreviation %>)
          <% end %>
        </td>
        <td><%= team.manager %></td>
        <td class="text-center"><%= link_to "編集する", edit_admin_team_path(team.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
    <%= paginate teams %>
  </tbody>
</table>