<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">
  <strong><%= @team.name %></strong>の編集
</h3>
<div class="my-5">
  <%= form_with model: [:admin, @team] do |f| %>
    <%= render 'layouts/errors', obj: @team %>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>チーム画像</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.file_field :team_image, accept: "image/*" %></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>チーム名</th>
          <th>略称（3文字）</th>
          <th>監督</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.text_field :name, :size=>"35", placeholder:"チーム名" %></td>
          <td><%= f.text_field :abbreviation, placeholder:"AAA" %></td>
          <td><%= f.text_field :manager, placeholder:"監督名" %></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td class="text-right"><%= f.submit "更新する", class: "ml-5 btn btn-success" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>