<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">チーム登録・一覧ページ</h3>
<div class="my-3">
  <%= form_with model: [:admin, @team] do |f| %>
    <%= render 'layouts/errors', obj: @team %>
    <table class="table table-sm table-borderless">
      <thead>
        <tr>
          <th>チーム画像</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.file_field :team_image, accept: "image/*" %></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>チーム名</th>
          <th>略称（3文字）</th>
          <th>監督</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.text_field :name, :size=>"35", placeholder:"チーム名" %></td>
          <td><%= f.text_field :abbreviation, placeholder:"AAA" %></td>
          <td><%= f.text_field :manager, placeholder:"監督名" %></td>
          <td><%= f.submit "新規登録", class: "btn btn-primary" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th></th>
      <th>チーム名（略称）</th>
      <th>監督</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.id %></td>
        <td>
          <div class="border border-dark" style="width:fit-content;">
            <%= image_tag team.get_team_image(48,32) %>
          </div>
        </td>
        <td>
          <%= link_to admin_team_path(team.id) do %>
            <%= team.name %>(<%= team.abbreviation %>)
          <% end %>
        </td>
        <td><%= team.manager %></td>
        <td class="text-center"><%= link_to "編集する", edit_admin_team_path(team.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
    <%= paginate @teams %>
  </tbody>
</table>