<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">
  <strong><%= @team.name %></strong>の詳細
</h3>
<h4 class="px-2 ml-5" style="width:fit-content;background-color:#e4e4e4;">所属選手の登録</h4>
<div class="my-5">
  <%= form_with model: [:admin, @affiliated_player] do |f| %>
    <%= render 'layouts/errors', obj: @affiliated_player %>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>ポジション</th>
          <th>背番号</th>
          <th>選手名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.collection_select :position, AffiliatedPlayer.positions_i18n, :first, :last %></td>
          <td><%= f.number_field :uniform_number %></td>
          <td><%= f.collection_select :player_id, Player.all, :id, :name, {include_blank: "--選択してください--"} %></td>
          <td><%= f.hidden_field :team_id, :value => @team.id %></td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td class="text-right"><%= f.submit "新規登録", class: "ml-5 btn btn-primary" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
<h4 class="px-2 ml-5" style="width:fit-content;background-color:#e4e4e4;">所属選手の一覧</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>背番号</th>
      <th>ポジション</th>
      <th>選手名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @affiliated_players.each do |affiliated_player| %>
      <tr>
        <td><%= affiliated_player.uniform_number %></td>
        <td><%= affiliated_player.position %></td>
        <td><%= affiliated_player.player.name %></td>
        <td class="text-center"><%= link_to "編集する", edit_admin_affiliated_player_path(affiliated_player.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
