<header>
  <nav class="navbar navbar-expand-lg" style="background-color:green;">
    <div class="col-3"></div>
    <div class="col-2 text-light">
      <% if customer_signed_in? %>
        <span>ようこそ、<br><%= current_customer.name %>さん！</span>
      <% end %>
      <% if admin_signed_in? %>
        <span><%= current_admin.email %><br>でログイン中</span>
      <% end %>
    </div>
    <div class="col-7">
      <ul class="navbar-nav" style="flex-direction: row;">
        <% if customer_signed_in? %>
          <li class="mr-2" style="list-style: none;">
            <%= link_to 'マイページ', customer_path(current_customer), class: 'btn btn-outline-light' %>
          </li>
          <li class="mr-2" style="list-style: none;">
            <%= link_to '会員一覧', customers_path, class: 'btn btn-outline-light' %>
          </li>
          <li class="mr-2" style="list-style: none;">
            <%= link_to 'チーム一覧', teams_path, class: 'btn btn-outline-light' %>
          </li>
          <li class="mr-2" style="list-style: none;">
            <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'btn btn-outline-light' %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="mr-2" style="list-style: none;">
            <%= link_to "会員一覧", admin_root_path, class: 'btn btn-outline-light' %>
          </li>
          <li class="mr-2" style="list-style: none;">
            <%= link_to "大会一覧", admin_conventions_path, class: 'btn btn-outline-light' %>
          </li>
          <li class="mr-2" style="list-style: none;">
            <%= link_to "試合一覧", admin_matches_path, class: 'btn btn-outline-light' %>
          </li>
          <li class="mr-2" style="list-style: none;">
            <%= link_to "選手一覧", admin_players_path, class: 'btn btn-outline-light' %>
          </li>
          <li class="mr-2" style="list-style: none;">
            <%= link_to "チーム一覧", admin_teams_path, class: 'btn btn-outline-light' %>
          </li>
          <li class="mr-2" style="list-style: none;">
            <%= link_to "採点一覧", admin_scorings_path, class: 'btn btn-outline-light' %>
          </li>
          <li class="mr-2" style="list-style: none;">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-light' %>
          </li>
        <% else %>
          <li class="mr-2" style="list-style: none;">
            <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-outline-light' %>
          </li>
          <li class="mr-2" style="list-style: none;">
            <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-outline-light' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>