<!DOCTYPE html>
<html>
  <head>
    <title>FootballScoringApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container my-3">
      <div class="text-danger font-weight-bold"><%= flash[:alert] %></div>
      <% if  admin_signed_in? %>
        <%= yield %>
      <% else %>
        <div class="row">
          <div style ="width:15%;">
            <div class="border border-dark mr-3 mb-3" style="height:fit-content;">
              <%= render 'layouts/left_side_head' %>
            </div>
            <div class="border border-dark mr-3" style="height:fit-content;">
              <%= render 'layouts/left_side_foot' %>
            </div>
          </div>
          <div style="width:80%;">
            <%= yield %>
          </div>
        </div>
      <% end %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
